@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexblock.features li img {
    width: 100%;
}

.firstSlide h1{
    color: aliceblue;
}